<!-- header -->
<header>
    <!-- App Name -->

        <h2>DEMO APP</h2>

        <!-- navbar -->

        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">ABOUT US</a></li>
            <li><a href="">JOBS</a></li>
            <li><a href="">CLIENTS</a></li>
            <li><a href="">EMPLOYERS</a></li>
            <li><a href="">CONTACT US</a></li>
        </ul>

        <!-- input section -->

        <i>I'm looking For...</i>
        <input class="input" type="text" placeholder="Enter Job Description">
        <input class="input1" type="checkbox"><span class="text1">Full Time</span>
        <input class="input2" type="checkbox"><span class="text2">Part Time/Casual/Freelancer</span> 

        <!--Location Area -->

        <select name="" class="select">
            <option value="">Select your location</option>
            <option value="">Pune</option>
            <option value="">Mumbai</option>
            <option value="">Banglore</option>
            <option value="">Hyderabad</option>
            <option value="">Chennai</option>
            <option value="">Noida</option>
        </select>

        <!-- Buttons -->
        <button class="btn btn-primary" id="search">Search</button>
        <button class="btn btn-primary" id="register" (click)="register()">Register</button>
</header>

<!-- Grey-Container -->

<div class="grey-container">
    <span class="txt1">We're leaders in</span>
    <div class="txt2">Creative Digital Recruitment</div>
    <div class="blueline"></div>
    <p class="p1">Basically in Surry Hills, the creative hub of Sydney we are surrounded by creativity</p>
    <p class="p2">and that reflects on the type of jobs we recruit for.</p>
    <a href="/" id="btn">FIND OUT MORE ABOUT US!</a>
</div>

<!-- Black-Container -->

<div class="black-container">
    <p class="p3">Subscribe to our Job Seeker Mailing List</p><br>
    <input id="input" type="text" placeholder="Enter Your Email Address">
</div>

<!-- Footer -->

<footer>
    <p>Copyright &copy; 2014 Two Bytes Consulting. <b>Terms & Conditions</b></p>
</footer>



    
