/* header part CSS */

header{
    display: flex;
    justify-content: space-between;
    position: relative;
    background: url('https://images.pexels.com/photos/234140/pexels-photo-234140.jpeg') no-repeat center center/cover;
    height: 99.5vh;
    
}
h1{
    color: white;
    margin-left: 30px;
    font-size: 25px;
    background-color: black;
    height: 3vh;
    margin-top: 20px;

    
}
ul{
    display: flex;

}
ul li{
    list-style-type: none;
    padding: 15px;
}

li a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
    border-top: 5px solid skyblue;
}
.input{
    height: 4.5vh;
    width: 50vw;
    position: absolute;
    top: 370px;
    left: 300px;
}
#search{
    height: 5vh;
    width: 7vw;
    position: absolute;
    top: 370px;
    left: 1100px;
    border: none;
    color: white;
    font-weight: bold;

}
button:hover{
    opacity: 0.9;
    cursor: pointer;
}

i{
    font-size: 3vw;
    position: absolute;
    top: 280px;
    left: 290px;
    color: white;
    text-shadow: 2px 2px 2px black,-2px -2px -2px black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.input1{
    position: absolute;
    top: 426px;
    left: -70px;
    
}
.input2{
    position: absolute;
    top: 427px;
    left: 40px;
    
}
.text1{
    position: absolute;
    top: 420px;
    left: 325px;
    color: white;
}
.text2{
    position: absolute;
    top: 420px;
    left: 430px;
    color: white;
}
.select{
    position: absolute;
    top: 420px;
    left: 870px;
    height: 4vh;
    width: 13vw;    
}

 /* #register{
     height: 5vh;
    width: 7vw;
    position: absolute;
    top: 600px;
    left: 700px;

    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
}  */

/* grey-container CSS */

.grey-container{
    background-color: #ddd;
    height: 80vh;
    text-align: center;
    position: relative;
    
}
.txt1{
    font-size: 30px;
    position: absolute;
    top: 70px;
    left: 650px;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.txt2{
    font-size: 40px;
    position: absolute;
    left: 500px;
    top: 120px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.blueline{
    width: 130px;
    height: 5px;
    background-color: rgba(0, 204, 255, 0.773);
    position: absolute;
    top: 200px;
    left: 700px;
}

.p1{
    position: absolute;
    top: 250px;
    left: 480px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.p2{
    position: absolute;
    top: 270px;
    left: 600px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#btn{
    position: absolute;
    top: 350px;
    left: 650px;
    text-decoration: none;
    border: 2px solid rgba(0, 204, 255, 0.773) ;
    padding: 20px;
    color:rgba(0, 204, 255, 0.773) ;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* black-container CSS */

.black-container{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
}
.p3{
    color: white;
    text-align: center;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    
}

#input{
    padding: 20px;
    width: 23%;
    height: 3vh;
    background-color: black;
    border: 2px solid rgba(0, 204, 255, 0.773);
    border-radius: 5px;
}

footer{
    background-color: #ddd;
    height: 30vh;
}
h2{
    font-size: 20px;
    background-color: white;
    height: 5vh;
    padding: 5px;
    margin-left: 15px;
    margin-top: 15px;

}

/* form-container CSS */

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstname{
    width: 20%;
}
.lastname{
    width: 18%;
}
h1{
    position: absolute;
    top: 42px;
    left: 420px;
    background-color: blue;
    color: white;
    font-size: 1.4rem;
    width: 38vw;
    height:8vh ;
    padding: 10px;

}
form{
    background-color: white;
    width: 38vw;
    text-align: right;
    padding: 25px;
    position: absolute;
    top: 100px;
    left: 450px;
    height: 85vh;
    

}
.button{
    position: absolute;
    top: 70px;
    left: 980px;
    background-color: rgb(0, 221, 255);
    border-radius: 30%;
    border: none;
    width: 2vw;
}
.button:hover{
    background-color: aqua;
    cursor: pointer;
}

#submitbtn{
    position: absolute;
    top: 300px;
    left: 500px;
}

input,select{
    width: 50%;
    padding: 5px;
    border: .5px solid grey;
    border-radius: 5px;
}
.fileupload{
    border: none;
    position: absolute;
    top: 120px;
    left: 470px;
    z-index: 1;
    
}
.Cancel{
    padding: 5px;
    color:black;
    border: 1px solid grey;
    position: absolute;
    top: 600px;
    left: 300px;
    width: 6vw;
}
#Submit{
    position: absolute;
    top: 600px;
    left: 420px;
}
.checkbox{
    position: absolute;
    top: 570px;
    left: 150px;
    background-color: grey;
}
#span{
    position: absolute;
    top: 563px;
    left: 310px;
}


.tag1{
    background-color: #333;
    color: white;
    position: absolute;
    top: 540px;
    left: 300px;
    z-index: 1;
    width: 2vw;    
}
.x1{
    background-color: #333;
    color: orange;
    position: absolute;
    top: 540px;
    left: 320px;
    width: 3vw;

}

.tag2{
    background-color: #333;
    color: white;
    position: absolute;
    top: 540px;
    left: 380px;
    z-index: 1;
    
}
.x2{
    background-color: #333;
    color: orange;
    position: absolute;
    top: 540px;
    left: 410px;
    width: 3vw;

}

.tag3{
    background-color: #333;
    color: white;
    position: absolute;
    top: 540px;
    left: 470px;
    z-index: 1;

    
}
.x3{
    background-color: #333;
    color: orange;
    position: absolute;
    top: 540px;
    left: 494px;
    width: 3vw;

}